<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Оналайн - магазин одежды</title>
</head>
<body>
    {% block title %}
    <h2>Одежда и костюмы</h2>
    <img src=" https://static.tildacdn.com/tild3934-6534-4638-a433-623031323231/kostum.jpg" alt="Mоё тестовое изображение">
    {% endblock %}
<hr>

    {% block body_content %}
    <p>Виды ассортимента</p>
    <ul>
    <li>Деловый костюмы</li>
    <li>Спрортивные костюмы</li>
    <li>Повседневная одежда</li>
    </ul>
    {% endblock %}



</div>
<div class="row fixed-bottom modal-footer">
<hr>
<p><strong>Все права защищены</strong> & Оставайтесь с нами )</p>
</div>
</div>



</body>
</html>